body {
    font-size: 12px;
    font-family: Arial;
}

div.footer {
    margin: 0;
    border-top: 1px solid #e7e7e7;
}

div.footer img#cateye {
    margin-left: 20px;
}

div.footer div.copyright {
    background-color: #000;
    border-top: 2px solid #c40000;
}

div.footer div.copyright div.white_link {
    margin-left: 10px;
    padding: 10px 0;
}

div.footer div.copyright div.white_link a {
    color: #fff;
    padding: 0 5px;
}

div.footer div.copyright div.white_link span.slash {
    color: #fff;
}

div.footer div.copyright div.license {
    margin-left: 10px;
    padding-bottom: 30px;
}

div.footer div.copyright div.license span {
    color: #a4a4a4;
}

div.footer div.copyright div.license div.copyrightYear {
    color: #686868;
    margin: 10px 0;
}